body {
  margin: 0px !important;
  padding: 0px !important;
  color: #000000;
  font-family: ubuntu;
  font-size: 1vw;
  overflow-x: hidden;
  height: 100%;
}

.main-head-log {
  width: 60%;
  height: 10vh;
  background-color: #00ccff;
  text-align: center;
  margin-left: 20%;
  border: 5px solid black;
  border-radius: 0px 50px 0px 50px;
  margin-top: 10vh;
  -webkit-box-shadow: 1vh 2vh 2vh black;
          box-shadow: 1vh 2vh 2vh black;
}

.main-form-log {
  width: 60%;
  height: 25vh;
  background-color: #00ccff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20%;
  border: 5px solid black;
  border-radius: 50px 0px 50px 0px;
  margin-top: 10vh;
  -webkit-box-shadow: 1vh 2vh 2vh black;
          box-shadow: 1vh 2vh 2vh black;
}

.main-form-log input {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

footer {
  width: 100%;
  margin-top: 50vh;
  background-color: #00ccff;
  color: #000000;
  height: 10vh;
  border-top: 5px solid black;
  border-radius: 50px 50px 0px 0px;
  -webkit-box-shadow: 0vh -1vh 2vh black;
          box-shadow: 0vh -1vh 2vh black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.inci-header {
  background-color: #00ccff;
  color: #000000;
  height: 10vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 95%;
      grid-template-columns: 5% 95%;
  -webkit-box-shadow: 1vh 2vh 2vh black;
          box-shadow: 1vh 2vh 2vh black;
  border-radius: 0px 0px 50px 50px;
  border-bottom: 5px solid black;
}

.inci-header .inci-logo {
  text-align: right;
  width: 100%;
}

.inci-header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inci-header ul a {
  color: #000000;
  text-decoration: none;
}

.inci-logout {
  width: 100%;
  background-color: #00ccff;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  margin-top: 15vh;
  -webkit-box-shadow: 1vh 2vh 2vh black;
          box-shadow: 1vh 2vh 2vh black;
}

.inci-logout input {
  border: 5px solid black;
  background-color: #ffffff;
  color: #000000;
  font-size: larger;
  padding: 1rem;
}

.inci-add {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 10vh;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  -webkit-box-shadow: 1vh 2vh 2vh black;
          box-shadow: 1vh 2vh 2vh black;
  background-color: #00ccff;
  color: #000000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.inci-add div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inci-add div input {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 2vh;
}

.inci-add div .save-all-bt {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: red;
  border: 5px solid black;
  color: #000000;
}

.inci-hist {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 10vh;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  -webkit-box-shadow: 1vh 2vh 2vh black;
          box-shadow: 1vh 2vh 2vh black;
  background-color: #00ccff;
  color: #000000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}
/*# sourceMappingURL=index.css.map */